.modal{
    background: $black_08;
    width: 100vw;
    height: 100vh;
    @include transition;
    &.in{
        .modal-dialog{
        transform: translate(-50%, -50%);             
        }
    }
    .modal-dialog{

        position: fixed;
        @include center(y);
        height: auto;
        // width: 600px;
        top: 50%;
        left: 50%;      
    }
    .modal-content{
        line-height: 0;
        button{
            position: absolute;
            top: 5px;
            right: 0px;
            color: WHITE;
            z-index: 99;
            font-size: 30px;
        }
        // width: 1260px;
    }
    .modal-header{
        min-height: 0px;
        padding: 0px;
        border-bottom: 0px;

    }
    .modal-body{
        // background: #fff;
        text-align: center;
        padding: 0px ;
        img{
            display: inline-block;
            // position: absolute;
            width: 100%;
            // height: 100%;
            object-fit: cover;
            overflow: hidden;
        }
        .btn-next-back{
            @include center(y);
        }
        .close{
            position: absolute;
            width: 30px;
            height: 30px;
            top: 20px;
            right: 20px;
            cursor: pointer;
            background: url(../images/close-hover.png) no-repeat center center;
            &:hover{
                 background: url(../images/close.png) no-repeat center center;
            }
        }


        iframe{
            width: 100%;
        }
    }
    .modal-footer{
        padding:0px;
        border:0;
    }
}
