.sbHolder{
	position: relative;
	float: left;
	width: 100px;
	// padding-right: 90px;
	height: 32px;
    // margin-top: 5px;
	// line-height: 30px;
    padding: 5px;
    border: 2px solid $white_06;
    margin-right: 15px;
    text-transform: uppercase;
    font-family: $Os;
    @include font-size(12px);
    line-height: 60px;
}
.sbHolder:focus .sbSelector{

}
.sbSelector{
	display: block;
	left: 0;
	outline: none;
	overflow: hidden;
	position: absolute;
	text-indent: 10px;
	// top: 0;
	width: 100%;
	white-space: nowrap;
    @include center(y);
    @include RP(S){
        text-indent: 0px;
    }
}
.sbSelector:link, .sbSelector:visited, .sbSelector:hover{
	color: #474747;
	outline: none;
	text-decoration: none;
}
.sbToggle{
	display: block;
	outline: none;
	position: absolute;
	right: 30px;
	// top: 0;
	text-align: center;
	line-height: 22px;
	// @include font-size(12px);
	width: 22px;
	height: 22px;
	color: #474747;
    @include center(y);
    right: 5px!important;
	&:before{
		font-family: $Aw;
		content: "\f0d7";
        // @include font-size(70px);
	}
	&:hover{
		&:before{
			font-family: $Aw;
			content: "\f0d8";
            // @include font-size(70px);
		}
	}
}

.sbToggleOpen{
	&:before{
		font-family: $Aw;
		content: "\f0d8";
        // @include font-size(70px);
	}
	&:hover{
		&:before{
			font-family: $Aw;
			content: "\f0d7";
            // @include font-size(70px);
		}
	}
}

.sbHolderDisabled{
	background-color: #fff;
	border: solid 1px rgba(#000, 0.4);
}

.sbOptions{
	background-color: #f6f6f6;
	list-style: none;
	position: absolute;
	width: 100%;
	z-index: 999999;
	overflow-y: auto;
	top: 30px!important;
	padding: 15px!important;
	min-width: 155px;
	left: -2px;
	margin-bottom: 0px;
	li{
		min-height: 25px;
		line-height: 25px;
        margin-bottom: 0px!important;
        min-height: 40px!important;
		color: #999999;
		position: relative;
		z-index: 9;
        width: 100%!important;
        margin-bottom: 0px!important;
        text-align: left;
		&:last-child{
			border-bottom: none;
		}
	}
	 a{
		display: block;
		outline: none;
		color: #999;
		// font-family: $Ti;
		line-height: 40px;
		@include font-size(14px);
		border-bottom: 1px dashed rgba(#000, 0.1);
		&:hover, &:focus, &.sbFocus{
			color: $active-color;
			border-color: $active-color
		}
	 }
	 &.last{
	 	a{
	 		border-bottom: none;
	 	}
	 }
	.sbDisabled{
		border-bottom: dotted 1px rgba(#000, 0.4);
		color: #999;
		display: block;
	}
	.sbGroup{
		border-bottom: dotted 1px rgba(#000, 0.4);
		color: #EBB52D;
		display: block;
		font-weight: bold;
	}
	.sbSub{
		padding-left: 17px;
	}
}